.log_main_div {
    display: flex;
    justify-content: center;    
    align-items: center;    
    min-height: 100vh;  
    
}

.log_user {
    width: 350px;   
    height: 430px;
    padding: 30px;
    border: 1px solid black;    
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;     
    align-items: center;    
}

#head_log{
    position: relative;
    top: -110px;
}

#logo_login{
    width: 200px; 
    height: auto; 
    margin: 0 auto; 
    position: relative;
    bottom: 70px;
    left: 7px;
}

.log_user input {
    width: 100%;
    padding: 10px; 
    border-radius: 9px;
    margin: 10px 0; 
    border: 1px solid silver;
    outline: none;
    position: relative;
    left: 1px;
    top: -100px;
}

.log_user input[type="password"]
{
    position: relative;
    top: -120px;
}

.log_user input:focus {
    border: 3px solid lightgreen;
}

#button_log {
    width: 100%;
    height: 100%;
    margin-top: 10px; 
    background-color: lightgreen;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border: none;
    border-radius: 9px;
    position: relative;
    bottom: 100px;
}

#button_log:hover {
    background-color: darkgreen;
}

#forgot_pw {
    color: purple;
    cursor: pointer;
    text-decoration: underline;
    font-size: 13px;
    margin: 10px 0; 
    position: relative;
    right: 125px;
    top: -90px;
}

#head_log {
    margin: 0; 
    padding: 5px;
    font-weight: bold;
    text-align: center; 
}

.remember_me {
    display: flex;
    align-items: center;    
    margin-top: 10px;   
    position: relative;
    left: 120px;
    bottom: 138px;
}

.remember_me input {
    width: 20px;    
    height: 20px;   
    margin-right: 10px;     
    position: relative;
    top: -0.3px;
}

.remember_me p {
    color: black;
    cursor: pointer;
    font-size: 13px;
}

#user_form_icon{
    position: relative;
    width: 25px;
    height: 25px;
    bottom: 144px;
    left: 160px;
}

#pass_form_icon{
    position: relative;
    width: 23px;
    height: 23px;
    bottom: 160px;
    left: 160px;
}

@media (max-width: 400px) {
    .log_user {
        width: 90%; 
        padding: 20px; 
    }
}

/* Dark mode styles */
body.dark-mode, .container.dark-mode, .page-content.dark-mode {
  background-color: #282828;
  color: #f0f0f0;
}

input.dark-mode, textarea.dark-mode, select.dark-mode {
  background-color: #333;
  color: #fff;
  border-color: #777;
}

button.dark-mode, .button.dark-mode {
  background-color: #444;
  color: #fff;
}

.link.dark-mode, a.dark-mode {
  color: #4a90e2;
}
