.edits{

    margin-left: 15px;
    margin-top: 5px;

}

#editsbutton{


    margin: 10px;
    margin-left: 105px;
    border-radius: 12px;
    margin-left: 10px;
    
   


}

#boxedit{

border-radius: 5px;


}

#forgot{

    margin-left: 13px;
    
    
    

}